<div class="card card-bleed border-bottom border-bottom-md-0 shadow-light-lg mb-6">
  <div class="collapse d-md-block" id="sidenavCollapse">
    <div class="card-body">
      <h6 class="fw-bold text-uppercase mb-3">
        Benefits
      </h6>
      <ul class="card-list list text-reset mb-6">
        <li class="list-item">
          <ul class="text-reset">
            <li>You shall have up to 90% more attention from the recruiters and will be considered for next level.</li>
            <li>You shall have over 80% more chance of getting a phone call interview from a recruiter in comparison to other candidates in the same category.</li>
            <li>Our services are versatile, covering many aspects of the resume and requisition of custom service is completely free.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
