<!-- <div class="card card-bleed border-bottom border-bottom-md-0 shadow-light-lg mb-6">
  <div class="collapse d-md-block" id="sidenavCollapse">
    <div class="card-body">
      <h6 class="fw-bold text-uppercase mb-3">
        Why I need to upload my resume
      </h6>
      <ul class="card-list list text-reset mb-6">
        <li class="list-item">
          The security measures of Resumenalyzer are explained in the Username & Password in Security Policy.
            <a href="{% url 'mydocumentations:privacy_policy' %}" class="text-decoration-none text-muted fs-sm">  
              learn more
            </a>
        </li>
      </ul>
    </div>
  </div>
</div> -->

<div class="accordion-item mb-6 card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">
  <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#helpThree" aria-expanded="false" aria-controls="helpThree">
    <span class="me-4" id="helpOneHeading">
      Why upload my resume?
    </span>
  </div>
  <div class="accordion-collapse collapse" id="helpThree" aria-labelledby="helpThreeHeading" data-bs-parent="#helpAccordionThree">
    <div class="accordion-body">
      <p class="text-reset">
        To get the utmost benefits of the unique services of perfecting your resume at the minimun expense
          <a href="{% url 'mydocumentations:privacy_policy' %}" class="text-decoration-none fs-sm">  
            learn more
          </a>
      </p>
    </div>
  </div>
</div>