{% extends 'resumeweb/layout/base_prod_homepg.html' %}


{% block opening_banner %}
    {% include 'resumeweb/pg-contents/products/8-bandwidth/opening_banner.html' %}
{% endblock %}


{% block top3_features %}
    {% include 'resumeweb/pg-contents/product-feat-top3/bandwidth.html' %}    
{% endblock %}


{% block mkt_ad_1 %}
        {% include 'resumeweb/components/ads/1-target-audi.html' %}    
{% endblock %}


{% block your_benif %}
    {% include 'resumeweb/pg-contents/user-benifits/bandwidth.html' %}
{% endblock %}


{% block service_list %}
    <div class="col-12 col-md-8">
        {% include 'resumeweb/pg-contents/products/8-bandwidth/service-list-short.html' %}
    </div>
{% endblock %}


{% block specialized_contents %}
    {% include 'resumeweb/pg-contents/products/8-bandwidth/about-visa-types.html' %}
{% endblock %}


{% block mkt_ad_2 %}
    {% include 'resumeweb/components/ads/1-need-to-customize-service.html' %}    
{% endblock %}


{% block get_started %}
    <div class="container">
        <div class="row">
            {% include 'resumeweb/pg-contents/products/8-bandwidth/get-started-with.html' %}
        </div>
    </div>
{% endblock %}


{% block mkt_ad_3 %}
    {% include 'resumeweb/components/ads/1-customer-service.html' %}    
{% endblock %}

