<section class="pt-8 pt-md-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 py-8 py-md-11 py-lg-12">
        <h2 class="fw-bold">Get Started with Identity Services</h2>
        <p class="fs-lg text-muted mb-5">
          Visualizing all your company's data and commication in one place helps reveal opportunities and expose trouble areas. Stop cobbling together spreadsheets, charts, graphs, CSVs, emails, and documents.
        </p>
        <a href="{% url 'rolebased_all_services' %}" class="btn btn-primary-desat mb-6 mb-md-0">
          Get Started Now 99849 <i class="fe fe-arrow-right ms-3"></i>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-5 offset-lg-1 py-8 py-md-11 py-lg-12">
        {% include 'resumeweb/components/menus/identity/prod-insight-1.html' %}
      </div>
    </div>
  </div>
</section>