{% extends 'resumeweb/layout/base_form_submission.html' %}


{% block left_column %}
	{% include 'resumeweb/pg-contents/product-review/1-opening-banner.html' %}
  	{% include 'resumeweb/pg-contents/contact-us-pg/what-happens-next.html' %}
{% endblock %}


{% block right_column %}

    <div class="col-12 col-md-8">
        <div class="row mb-md-8 mb-6">
            <div class="col">
              <h2 class="fw-bolder mb-0">
                {{pg_headline}}
              </h2>
              <p class="fs-sm text-muted mb-0">
                Response time: within {{resp_time}} hour
              </p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card border">
                <div class="card-body">
					{% include 'resumeweb/pg-contents/contact-us-pg/form.html' %}
                </div>
            </div>
        </div>
    </div>


	{% block form_resp %}
        {% if messages %}
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="card border">
                        <div class="card-body">
                            <ul class="messages">
                                {% for message in messages %}
                                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
	{% endblock %}

{% endblock %}
