{% extends 'resumeweb/layout/primary_layout.html' %}


{% block meta %}
  <title>Home | Resumenalyzer</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
{% endblock %}


{% block body_contents %}


  <section class="mb-0">  
    <div class="container-fluid">
      {% include 'resumeweb/pg-contents/site_homepg/opening_banner.html' %}
    </div>
  </section>
  

  <section class="mb-0">
    <div class="container-fluid bg-light">
      <div class="py-10 py-md-10">
        {% include 'resumeweb/pg-contents/site_homepg/product_feat_top3.html' %}
      </div>
    </div>
  </section>


    
  <section class="pb-8 pt-7 pb-md-11 pt-md-10">
    <div class="container-fluid">
      <div class="container">
        {% include 'resumeweb/components/ads/1-weare-wearenot.html' %}
      </div>
    </div>
  </section>


  <!-- PRODUCT HIGHLIGHT SECTION -->
  <section class="mb-0">
    <div class="container-fluid">
      <div class="container">
        <div class="py-10 py-md-10">
          {% include 'resumeweb/pg-contents/site_homepg/products/exp180.html' %}
        </div>
      </div>
    </div>
  </section>


  <section class="mb-0">
    <div class="container-fluid">
      <div class="container">
        <div class="py-10 py-md-10">      
          {% include 'resumeweb/pg-contents/site_homepg/products/dialogue.html' %}
        </div>
      </div>
    </div>
  </section>


  <section class="mb-0">
    <div class="container-fluid">
      <div class="container">
        <div class="py-10 py-md-10">            
          {% include 'resumeweb/pg-contents/site_homepg/products/dialect.html' %}
        </div>
      </div>
    </div>
  </section>


  <section class="mb-0">
    <div class="container-fluid">
      <div class="container">
        <div class="py-10 py-md-10">      
          {% include 'resumeweb/components/ads/1-get-coupon-code.html' %}
        </div>
      </div>
    </div>
  </section>


  <section class="mb-0">
    <div class="container-fluid">
      <div class="container">
        <div class="py-10 py-md-10">            
          {% include 'resumeweb/pg-contents/site_homepg/products/id.html' %}
        </div>
      </div>  
    </div>
  </section>


  <section class="mb-0">
    <div class="container-fluid">
      <div class="container">
        <div class="py-10 py-md-10">            
          {% include 'resumeweb/pg-contents/site_homepg/products/staircase.html' %}
        </div>
      </div>
    </div>
  </section>


  <section class="mb-0">
    <div class="container-fluid">
      <div class="container">
        <div class="py-10 py-md-10">
          {% include 'mydocumentations/productdocs/pg-contents/product-feat-matrix/use-cases.html' %}
        </div>
      </div>
    </div>
  </section>


  <section class="mb-0">
    <div class="container-fluid">
      <div class="container">
        <div class="py-10 py-md-10">      
          {% include 'resumeweb/pg-contents/site_homepg/products/bd.html' %}
        </div>
      </div>
    </div>
  </section>


  <section class="mb-0">
    <div class="container-fluid">
      <div class="container">
        <div class="py-10 py-md-10">
          {% include 'resumeweb/pg-contents/site_homepg/products/strategy.html' %}
        </div>
      </div>
    </div>
  </section>
  

  <section class="mb-0">
    <div class="container-fluid">
      <div class="container">
        <div class="py-10 py-md-10">
          {% include 'mydocumentations/productdocs/pg-contents/product-feat-matrix/pricing.html' %}
        </div>
      </div>
    </div>
  </section>



{% endblock %}
