{% load static %}
{% load widget_tweaks %}


<div class="section-padding-top-medium">
  <h1 class="display-4">Get Started Right Away! </h1>

    <div class="media-body">
      It's as easy as 1,2,3
      <ol>
        <li>Check your eligiblity</li>
        <li>Review our application checklist</li>
        <li>Submit a request</li>
      </ol>
      Continue to learn more
    </div>

To begin with referral program, we will do a general assessent of your
candidacy. We will check if 
<ul>
  <li>your resume is up to the standard</li>
  <li>your employment and educational history pass our check</li>
  <li>and few other things (such as portfolio check)</li>
</ul>

I you pass our general assessment, then we will put you foreword to
the Referral request process.

<p>
To start your general assessment <a href="">Click Here</a>  

</p>
</div>
