{% extends 'resumeweb/layout/primary_layout.html' %}


{% block body_contents %}


  {% include 'resumeweb/pg-contents/covid-resp-pg/opening-banner.html' %}



  {% include 'resumeweb/pg-contents/covid-resp-pg/resp1.html' %}

  {% include 'resumeweb/pg-contents/covid-resp-pg/resp2.html' %}

  {% include 'resumeweb/pg-contents/covid-resp-pg/resp3.html' %}




    <section class="pt-4 pt-md-11">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 order-md-2">

            <!-- Image -->
            <img src="assets/img/illustrations/illustration-1.png" class="img-fluid mb-6 mb-md-0" alt="...">

          </div>
          <div class="col-12 col-md-7 order-md-1">

            <!-- Heading -->
            <h2 class="">
              Are you in the job market looking for a job or job change with
              <span class="text-primary">International Student VISA (F1)?</span>
            </h2>

            <!-- Text -->
            <p class="lead text-muted mb-0">
              Helping and guiding job seekers with international student visa
              is one of our top priorities. That's whay we have a whole new service line for this category.
              Through Bandwidth we are offerings services to Five VISA categories such as CPT, OPT. Learn more 
              about <a class="text-warning" href="{% url 'usvisa_home' %}">Bandwidth</a>
            </p>

          </div>
        </div>
      </div>
    </section>



    <section class="pb-8 pt-7 pb-md-11 pt-md-10">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Heading -->
            <h2 class="mb-0">
              Why Signup with Us ?
            </h2>

            <!-- Text -->
            <p class="mb-5 text-muted">
              These can be split into smaller grid sizes, though we recommend half or thirds
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12 col-md-6 d-flex">

            <!-- Card -->
            <div class="card mb-6">

              <!-- Image -->
              <a class="card-img-top" href="#!">
                <img src="assets/img/photos/photo-28.jpg" alt="..." class="img-fluid">
              </a>

              <a class="card-body" href="#!">
                <h3>
                  Photo on Top + 50% Width.
                </h3>
                <p class="mb-0 text-muted">
                  The markup for vertical articles is the same for a half and thirds split, it's controlled with columns.
                </p>
              </a>

              <a class="card-meta" href="#!">
                <hr class="card-meta-divider">
                <h6 class="text-uppercase text-muted me-2 mb-0">
                  Learn More
                </h6>
              </a>

            </div>

          </div>
          <div class="col-12 col-md-6 d-flex">

            <!-- Card -->
            <div class="card pt-14 bg-cover overlay overlay-secondary overlay-80 text-white shadow-light-lg mb-6" style="background-image: url(assets/img/covers/cover-17.jpg);">

              <!-- Body -->
              <a class="card-body mt-auto" href="#!">
                <h3 class="mt-auto">
                  some title goes here778
                </h3>
                <p class="mb-0 text-white-80">
                  Background photos are super easy to add and overlays can be added with utilities for legibility.
                </p>
              </a>

              <a class="card-meta" href="#!">
                <hr class="card-meta-divider bg-white-20">
                <h6 class="text-uppercase text-white-80 me-2 mb-0">
                  Learn More
                </h6>
              </a>

            </div>

          </div>
        </div>
        
      </div>
    </section>



    <section class="pb-8 pt-7 pb-md-11 pt-md-10">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Heading -->
            <h2 class="mb-0">
              Why Signup with US ?
            </h2>

            <!-- Text -->
            <p class="mb-5 text-muted">
              These can be split into smaller grid sizes, though we recommend half or thirds
            </p>

          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">

            <!-- Card -->
            <div class="card mb-6 mb-lg-0 shadow-light-lg border border-warning">

              <div class="card-body">
                <h3>
                  This is the topic sentense we need
                </h3>
                <p class="mb-0 text-muted">
                  The markup for this card is identical to that for the 50% Width article above.
                </p>
              </div>

              <div class="card-meta">
                <hr class="card-meta-divider bg-white-20">
                <div class="avatar avatar-sm me-2">
                  <img src="assets/img/avatars/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                </div>
                <h6 class="text-uppercase text-white-80 me-2 mb-0">
                  <a href="">Know More37</a>
                </h6>
              </div>

            </div>

          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-6 mb-lg-0 shadow-light-lg border border-dark">
              <div class="card-body">
                <h3>
                  This is the topic sentense we need
                </h3>
                <p class="mb-0 text-muted">
                  The markup for this card is identical to that for the 50% Width article above.
                </p>
              </div>

              <div class="card-meta">
                <hr class="card-meta-divider">
                <div class="avatar avatar-sm me-2">
                  <img src="assets/img/avatars/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                </div>
                <h6 class="text-uppercase text-muted me-2 mb-0">
                  <a href="">Know More29</a>
                </h6>
              </div>

            </div>

          </div>
          <div class="col-12 col-lg-4">
            <div class="card shadow-light-lg">
              <a class="card-body my-auto" href="#!">
                <h3 class="mt-auto">
                  All Text Card.
                </h3>
                <p class="mb-0 text-muted">
                  Notice how this card stays the same height as its siblings and this text is vertically centered (at desktop sizes). This keeps layouts looking consistent no matter what type of content occupies each sibling card.
                </p>
              </a>
              <div class="card-meta">
                <hr class="card-meta-divider">
                <div class="avatar avatar-sm me-2">
                  <img src="assets/img/avatars/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                </div>
                <h6 class="text-uppercase text-muted me-2 mb-0">
                  <a href="">Know More3</a>
                </h6>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>


{% endblock %}
