{% load static %}

<div class="row">
  <div class="col-12">

    <!-- Heading -->
    <h2 class="mb-6">
      What is Resumenalyzer ?
    </h2>
      <span class="badge bg-light badge-float badge-float-inside">
        <span class="h6 text-uppercase">Know More</span>
      </span>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6 d-flex">

      <div class="card mb-6 mb-lg-0 border bg-light">

        <!-- Image -->
        <a class="card-img-top" href="#!">
          <img src="{% static 'resumeweb/assets/img/photos/photo-7.jpg' %}" alt="..." class="img-fluid">
        </a>

        <!-- Body -->
        <div class="card-body" href="#!">

          <!-- Heading -->
          <h3>
            This is not a traditional job site
          </h3>

          <!-- Text -->
          <p class="mb-0 text-muted">
            <ul>
              <li>We are not a regular job site where you go to apply for jobs online</li>
              <li>We donot write/build your resume from scratch because we believe no one knows your profile/background better than yourself</li>
            </ul>
          </p>

        </div>


      </div>


  </div>
  <div class="col-12 col-md-6 d-flex">

      <div class="card mb-6 mb-lg-0 border bg-light">

        <!-- Image -->
        <a class="card-img-top" href="#!">
          <img src="{% static 'resumeweb/assets/img/photos/photo-7.jpg' %}" alt="..." class="img-fluid">
        </a>

        <!-- Body -->
        <div class="card-body" href="#!">

          <!-- Heading -->
          <h3>
            This is a resume analysis service
          </h3>

          <!-- Text -->
          <p class="mb-0 text-muted">
            <ul>
              <li>We are a first-of-its kind resume analysis service</li>
              <li>We help job search candidates how their resume
              is being reviewed by the recruiters and hiring managers</li>
            </ul>
          </p>

        </div>


      </div>


  </div>
</div>


