{% load static %}


<div class="container-fluid">
  <div class="container">

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{% static 'resumeweb/assets/img/3rd/products/strategy/businessman_generated.jpg' %}" alt="..." class="img-fluid">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="fw-bolder">Our Recommendations</p>
            <p class="card-text">
              Based on your browsing history, our recommendation system suggest you to try one of the services below
            </p>
            <p class="card-text">
              <small class="text-muted">Reformat your resume your layout</small>
              <small class="text-muted">Review, update and analyze the most recent section from your job history</small>
              <small class="text-muted">I am planning to get a job in Texas area. What I need to know
                about this demographic ?
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>