{% load static %}


<section class="pt-8 pt-md-11 bg-gradient-light-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <!-- Badge -->
        <span class="badge rounded-pill bg-success-soft mb-3">
          <span class="h6 text-uppercase">Flexibility</span>
        </span>

        <!-- Heading -->
        <h1>
          Spaces for any size of team.
        </h1>

        <!-- Text -->
        <p class="fs-lg text-reset mb-7 mb-md-9">
          No matter what size your team, we have a solution. From single shared spaces to entire floors, it's available.
        </p>

      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-12 col-md-4" data-aos="fade-up">

        <!-- Card -->
        <div class="card mb-6 mb-md-0">

          <!-- Image -->
          <img src="{% static 'resumeweb/static/assets/img/photos/photo-4.jpg' %}" alt="..." class="card-img-top">

          <!-- Shape -->
          <div class="position-relative">
            <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
              <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>                </div>
          </div>

          <!-- Body -->
          <div class="card-body position-relative">

            <!-- Badge -->
            <div class="position-relative text-end mt-n8 me-n4 mb-3">
              <span class="badge rounded-pill bg-success">
                <span class="h6 text-uppercase">$49/mo</span>
              </span>
            </div>

            <!-- Heading -->
            <h3>
              Shared Coworking
            </h3>

            <!-- Text -->
            <p class="text-muted">
              Open seating is available weekdays from 7am - 7pm and weekends from 9am - 5pm.
            </p>

            <!-- Link -->
            <a href="#!" class="fw-bold text-decoration-none">
              Tour the space <i class="fe fe-arrow-right ms-3"></i>
            </a>

          </div>

        </div>

      </div>
      <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="100">

        <!-- Card -->
        <div class="card mb-6 mb-md-0">

          <!-- Image -->
          <img src="assets/img/photos/photo-5.jpg" alt="..." class="card-img-top">

          <!-- Shape -->
          <div class="position-relative">
            <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
              <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>                </div>
          </div>

          <!-- Body -->
          <div class="card-body position-relative">

            <!-- Badge -->
            <div class="position-relative text-end mt-n8 me-n4 mb-3">
              <span class="badge rounded-pill bg-warning">
                <span class="h6 text-uppercase">$99/mo</span>
              </span>
            </div>

            <!-- Heading -->
            <h3>
              Designated Desk
            </h3>

            <!-- Text -->
            <p class="text-muted">
              A personal space to leave your computer, monitor, and supplies with unlimited access.
            </p>

            <!-- Link -->
            <a href="#!" class="fw-bold text-decoration-none">
              Find a desk <i class="fe fe-arrow-right ms-3"></i>
            </a>

          </div>

        </div>

      </div>
      <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="200">

        <!-- Card -->
        <div class="card">

          <!-- Image -->
          <img src="assets/img/photos/photo-6.jpg" alt="..." class="card-img-top">

          <!-- Shape -->
          <div class="position-relative">
            <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
              <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>                </div>
          </div>

          <!-- Body -->
          <div class="card-body position-relative">

            <!-- Badge -->
            <div class="position-relative text-end mt-n8 me-n4 mb-3">
              <span class="badge rounded-pill bg-success">
                <span class="h6 text-uppercase">$399/mo</span>
              </span>
            </div>

            <!-- Heading -->
            <h3>
              Private Offices
            </h3>

            <!-- Text -->
            <p class="text-muted">
              Need a private space? We have all sizes of offices from 400² ft. available up to 3100² ft.
            </p>

            <!-- Link -->
            <a href="#!" class="fw-bold text-decoration-none">
              Tour the offices <i class="fe fe-arrow-right ms-3"></i>
            </a>

          </div>

        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
