<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
  <tr>
    <td valign="middle" class="bg_white footer email-section">
      <table>
        <tr>
          <td valign="top" width="33.333%" style="padding-top: 20px;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
              <tr>
                <td class="bg_white email-section">
                  <div class="heading-section" style="text-align: left; padding: 25px 5px 25px 5px;">
                    Disclaimer: The Coupon Code above is intended to be sent to this email address . 
                    If you have not used this email address, please ignore.
                  </div>
                </td>
              </tr>
            </table>
          </td>
          <td valign="top" width="33.333%" style="padding-top: 20px;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
              <tr>
                <td class="bg_white email-section">
                  <div class="heading-section" style="text-align: left; padding: 25px 5px 25px 5px;">
                    Disclaimer: The Coupon Code above is intended to be sent to this email address . 
                    If you have not used this email address, please ignore.
                  </div>
                </td>
              </tr>
            </table>
          </td>

        </tr>
      </table>
    </td>
  </tr>
</table>
