<div class="p-2 mb-6">
  <h3 class="fw-bolder">Before you submit</h3>
  <ul class="list-unstyled mb-0">
    <li class="d-flex">
      <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
        <i class="fe fe-check"></i>
      </div>
      <p>
        Please enter your email address that you used to complete your purchase
      </p>
    </li>
    <li class="d-flex">
      <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
        <i class="fe fe-check"></i>
      </div>
      <p>
        Please enter your order tracking ID as 123-111-121212 (as it exactly appeared in your email)
      </p>
    </li>            
  </ul>

</div>

