<!-- auth/login-v3.html -->
{% extends 'auth_mmh_v2/layout/primary_layout_v3.html' %}
{% load static %}


{% block form_heading %}
    <h1 class="py-3 fw-bolder mb-0">Set New Password</h1>
    <p>Step 3/4</p>
{% endblock %}


{% block main_body_section %}
{{user_email_add}}
  {% if validlink %}
      <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn w-50 btn-primary btn-xs rounded-0" type="submit">Set Password</button>
      </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}


{% block form_error %}
    <span class="text-danger">{{form_error}}</span>
{% endblock %}


{% block right_hand_side %}
    <img src="{% static 'auth_mmh_v2/assets/img/429.jpg' %}" class="card-img" alt="..." style="height:25.5rem">
{% endblock %}
