<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-white pl-0">
    <li class="breadcrumb-item"><a href="{% url 'adhoc:adhoc_home' %}">Adhoc Service Home</a></li>
    <li class="breadcrumb-item active">Scope of Service</li>
  </ol>
</nav>


<h1 class="bd-title" id="content">Learn How Referral Program Works</h1>


<p class="bd-lead">
  Please go through the steps described below to check your preparedness before requesting
  for a referral.
</p>
<p>&nbsp;</p>


<h4>To begin with</h4>
<p>Remember! Job descriptions are not always written by the technical people,
  as a result they can be confusing sometimes. And, it's a common scenario
  in tech jobs.
</p>
<p>


<div class="card col-md-8 bg-gray border-0">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">If you need our help, we are here</h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item border-top-0 border-left">
        <a href="#" class="text-muted">Review a job description, and unearth the main/actual/core requirements.</a>
      </li>
      <li class="list-group-item border-top-0 border-left">
        <a href="#" class="text-muted">There is a difference in job title and job description. What should I do?</a>
      </li>
      <li class="list-group-item border-top-0 border-left">
        <a href="#" class="text-muted">A job description seems confusing to me. Help me understand what they are looking for.</a>
      </li>
    </ul>
  </div>

  <a class="p-3" href="">Show Other Similar Services</a>
</div>

<p>&nbsp;</p>
<h4>What After That</h4>
<p>Remember! Job descriptions are not always written by the technical people,
  as a result they can be confusing sometimes. And, it's a common scenario
  in tech jobs.
</p>


<p>&nbsp;</p>
<h4>The Final Step</h4>
<p>Remember! Job descriptions are not always written by the technical people,
  as a result they can be confusing sometimes. And, it's a common scenario
  in tech jobs.
</p>
