{% load static %}


<div class="row">

  <div class="col-12 col-md-4">
    <div class="row">
  
      <div class="col col-md-12 ms-n5 ms-md-0">
        <h3 class="fw-bolder text-primary">
          Gather information about your target job
        </h3>
        <p class="text-reset mb-6 mb-md-0">
          We need couple of job descriptions (JDs) of the job you are targeting for your next role. It give us an idea about what types of projects and industries you are going to get engaged with.
        </p>
      </div>

    </div>
  </div>

  <div class="col-12 col-md-4">
    <div class="row">
      <div class="col col-md-12 ms-n5 ms-md-0">
        <h3 class="fw-bolder text-primary">
          Keep your resume handy
        </h3>
        <p class="text-reset mb-6 mb-md-0">
          We need your current resume for our review analysis. It helps us understand your skillsets, background, and overall profile.
        </p>  
      </div>

    </div>
  </div>

  <div class="col-12 col-md-4">
    <div class="row">

      <div class="col col-md-12 ms-n5 ms-md-0">
        <h3 class="fw-bolder text-primary">
          Fill up the form
        </h3>
        <p class="text-reset">
          Depending on your preparation it might tka upto 4 minutes
          to fillup and submit the form. Once a form is submiited,
          you will receive a confirmation email along with an
          application ID. Please keep this application ID number
          for any future communication with us.
        </p>
        <p>
          <div class="py-3">
            <a class="btn btn-primary btn-sm rounded-0" href="{% url 'adhoc:adhoc_submit_req_now' %}">
              <span class="mx-auto">Submit Now</span>
            </a>
          </div>              
        </p>            
      </div>

    </div>
  </div>

</div>

