{% extends 'auth_mmh_v2/layout/primary_layout_v3.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block form_heading %}
  <h1 class="py-3 fw-bolder mb-0">{{pg_header}}</h1>
{% endblock %}


{% block main_body_section %}
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
          <div class="row">
              <div class="form-group col-md-12 mb-0">
                {{ form.email|as_crispy_field }}
              </div>
          </div>
          <div class="row">
              <div class="form-group col-md-12 mb-0">
                {{ form.password|as_crispy_field }}
                  <input type="checkbox" onclick="myFunction()"><span class="p-2">Show Password</span>
              </div>
          </div>
        </div>

        <button class="btn w-25 btn-primary btn-xs rounded-0" type="submit">Signin</button>

    </form>
{% endblock %}


{% block form_error %}
    <span class="text-danger">{{form_error}}</span>
{% endblock %}


{% block right_hand_side %}
    <img src="{% static 'auth_mmh_v2/assets/img/429.jpg' %}" class="card-img" alt="..." style="height:25.5rem">
{% endblock %}
