{% load static %}


<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8 text-center">
    <h1 class="fw-bolder">
      Bandwidth :: Highlighted Services
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-12 col-md-6 col-lg-6">
    <div class="card mb-6">
      <div class="card-body">
        {% include 'resumeweb/pg-contents/products/8-bandwidth/homepg/service-list-cpt.html' %}
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-6">
    <div class="card mb-6">
      <div class="card-body">
        {% include 'resumeweb/pg-contents/products/8-bandwidth/homepg/service-list-opt.html' %}
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12 col-md-6 col-lg-6">
    <div class="card mb-6">
      <div class="card-body">
        {% include 'resumeweb/pg-contents/products/8-bandwidth/homepg/service-list-h1b.html' %}
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-6">
    <div class="card mb-6">
      <div class="card-body">
        {% include 'resumeweb/pg-contents/products/8-bandwidth/homepg/service-list-h4ead.html' %}
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12 col-md-6 col-lg-6">
    <div class="border border-dark shadow-light-lg mb-6">
      <div class="card-body">
        {% include 'resumeweb/pg-contents/products/8-bandwidth/homepg/service-list-gcead.html' %}
      </div>
    </div>
  </div>
</div>


<div class="row pt-5">
  <div class="col-12 col-md-4 col-lg-4 col-xl-5">
    <a class="btn btn-sm btn-primary rounded-0 me-1" href="{% url 'usvisa_all_services' %}">
      Show All Services
    </a>
  </div>
</div>  

