{% extends 'resumeweb/layout/base_prod_homepg.html' %}


{% block opening_banner %}
	{% include 'resumeweb/pg-contents/products/9-strategy/opening_banner.html' %}
{% endblock %}


{% block top3_features %}
	{% include 'resumeweb/pg-contents/product-feat-top3/strategy.html' %}    
{% endblock %}
		

{% block your_benif %}
	<div class="py-7 py-md-7">
		{% include 'resumeweb/pg-contents/user-benifits/strategy.html' %}        
	</div>
{% endblock %}


{% block mkt_ad_1 %}
	<div class="py-5 py-md-5">
		{% include 'resumeweb/components/ads/1-target-audi.html' %}    
	</div>
{% endblock %}


{% block service_list %}
	{% include 'resumeweb/pg-contents/products/9-strategy/service-list-short.html' %}
{% endblock %}


{% block get_started %}
	<div class="row">
		{% include 'resumeweb/pg-contents/products/9-strategy/get-started-with.html' %}
	</div>
{% endblock %}


{% block mkt_ad_3 %}
	<div class="container">
		{% include 'resumeweb/components/ads/1-Shop-with-Confidence.html' %}
	</div>
{% endblock %}

