<a class="h6 text-muted text-decoration-none" href="{% url 'mydocumentations:privacy_policy' %}" onclick="return false;">Resumenalyzer v{{app_version}} @ 2023 LegoIO LLC.</a>
&#8226;<a class="h6 text-muted" href="{% url 'mydocumentations:privacy_policy' %}">Privacy Policy</a>
&#8226;<a class="h6 text-muted" href="{% url 'mydocumentations:dont_sell_info' %}">Donot Sell My Info (CA)</a>
&#8226;<a class="h6 text-muted" href="{% url 'mydocumentations:terms_of_use' %}">Terms of Use</a>
&#8226;<a class="h6 text-muted" href="{% url 'mydocumentations:dispute_policy' %}">Dispute & Refund Policy</a>
&#8226;<a class="h6 text-muted" href="{% url 'mydocumentations:cancel_policy' %}">Cancellation & Refund Policy</a>
&#8226;<a class="h6 text-muted" href="{% url 'mydocumentations:cookie_policy' %}">Cookie Policy</a>
&#8226;<a class="h6 text-muted" href="{% url 'mydocumentations:payment_policy' %}">Payment Policy</a>
&#8226;<a class="h6 text-muted" href="{% url 'mydocumentations:security_policy' %}">Security Policy</a>
