<!-- <div class="card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">
  <div class="collapse d-md-block" id="sidenavCollapse">
    <div class="card-body">
      <h6 class="fw-bold text-uppercase mb-3">
        Dispute Refund Policy
      </h6>
      <ul class="card-list list text-reset mb-6">
        <li class="list-item">
            We say this the dispute
            is subject to approve or deny blah blah blah
        </li>
      </ul>
    </div>
  </div>
</div> -->


<div class="accordion-item mb-6 card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">
  <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#helpTwo" aria-expanded="false" aria-controls="helpTwo">
    <span class="me-4" id="helpOneHeading">
      Dispute Refund Policy
    </span>
  </div>
  <div class="accordion-collapse collapse" id="helpTwo" aria-labelledby="helpTwoHeading" data-bs-parent="#helpAccordionTwo">
    <div class="accordion-body">
      <p class="text-reset">
        If you do not get your orderd service, please file a dispute check our Dispute & Rdfund Policy
          <a href="{% url 'dispute_policy' %}" class="text-decoration-none fs-sm">
            learn more
          </a>
      </p>
    </div>
  </div>
</div>